.background-normal {
    background: linear-gradient(328deg, #4b083f, #ac0e90, #2024db, #4b083f);
    background-size: 1000% 1000%;

    -webkit-animation: BackgroundScroll 240s ease infinite;
    -moz-animation: BackgroundScroll 240s ease infinite;
    -o-animation: BackgroundScroll 240s ease infinite;
    animation: BackgroundScroll 240s ease infinite;
}

.background-urgent {
    background: linear-gradient(328deg, #690909, #5d0169);
    background-size: 1000% 1000%;

    -webkit-animation: BackgroundScroll 240s ease infinite;
    -moz-animation: BackgroundScroll 240s ease infinite;
    -o-animation: BackgroundScroll 240s ease infinite;
    animation: BackgroundScroll 240s ease infinite;
}

.background-info {
    background: linear-gradient(328deg, #3b047a, #190783);
    background-size: 1000% 1000%;

    -webkit-animation: BackgroundScroll 240s ease infinite;
    -moz-animation: BackgroundScroll 240s ease infinite;
    -o-animation: BackgroundScroll 240s ease infinite;
    animation: BackgroundScroll 240s ease infinite;
}
.social-link {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

/* Birthday easter egg */
#birthday-easter-egg {
    overflow: hidden;
  }
#birthday-easter-egg-text {
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 30s linear infinite;
    -webkit-animation: my-animation 30s linear infinite;
    animation: my-animation 30s linear infinite;
}
  /* for Firefox */
@-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
}
  /* for Chrome */
@-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
}
@keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
}

@-webkit-keyframes BackgroundScroll {
    0%{background-position:13% 0%}
    50%{background-position:88% 100%}
    100%{background-position:13% 0%}
}
@-moz-keyframes BackgroundScroll {
    0%{background-position:13% 0%}
    50%{background-position:88% 100%}
    100%{background-position:13% 0%}
}
@-o-keyframes BackgroundScroll {
    0%{background-position:13% 0%}
    50%{background-position:88% 100%}
    100%{background-position:13% 0%}
}
@keyframes BackgroundScroll {
    0%{background-position:13% 0%}
    50%{background-position:88% 100%}
    100%{background-position:13% 0%}
}